.tourSection {
  background-color: #333;
  color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.tourSection .title {
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 0.3em;
}
.tourSection .subtitle {
  font-style: italic;
  color: #bcbcbc;
  text-align: center;
}

/* TourCardList */

.tourCardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
